.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#basic_password,
#basic_confirm {
  background-color: #ff9090;
}

#basic {
  display: inline-block;
  text-align: center;
  width: 300px;
}

.button-profile-header {
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 30px;
}

.logout {
  margin-left: 30px;
}
.logo-app-header {
  display: block;
  width: 300px;
}

.empty {
  width: 30%;
}

.space {
  width: 10%;
}
.song-item {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 300px 300px 300px;
  row-gap: 100px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audio {
  display: flex;
  align-items: center;
  justify-content: center;
}
